:root {
  --bit-color: var(--bs-gray-700);
}

.inner-gap-sm > * {
  display: block;
}

.inner-gap-md > *:not(:last-child) {
  margin-bottom: 1em;
}

.inner-gap-sm > *:not(:last-child) {
  margin-bottom: 0.4em;
}

.bit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
}

.bit.bit_0 {
  border-color: var(--bit-color);
  color: var(--bit-color);
}

.bit.bit_1 {
  background-color: var(--bit-color);
  color: white;
}

.accordion {
  --bs-accordion-btn-padding-y: 10px;
}

.math-block {
  font-size: 25px;
  margin-top: 10px;
}
